.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 200px;
    margin-top: 10px;
}

#draw-canvas {
    border: 5px solid black;
}

#btn-download {
    border: 2px solid rgb(21, 145, 68);
    background-color: rgb(21, 184, 83);
    border-radius: 10px;
    height: 100px;
    width: 400px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 64px;
    margin: 20px;
}

#btn-download:hover {
    background-color: rgb(28, 212, 99);
}